@use '/src/styles/breakpoints';

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1170px + 32px;
  margin: auto;
  margin-bottom: 140px;
  width: 100%;
  padding: 0 16px;

  @include breakpoints.md {
    max-width: 904px;
  }

  @include breakpoints.sm {
    max-width: 704px;
  }

  @include breakpoints.xs {
    max-width: 328px;
  }

  h1 {
    margin-bottom: 21px;
  }

  &__grid {
    display: grid;
    width: 100%;
    gap: 29px;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoints.sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @include breakpoints.xs {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}