$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 360px)";

$primary: #F4E041;
$primary-hover: #FFE302;
$secondary: #00BDD3;
$bg: #F8F8F8;
$dark-text: #000000DE;
$light-text: #FFFFFFDE;
$input-border: #D0CFCF;
$input-text: #7E7E7E;
$disabled: #B4B4B4;
$error: #CB3D40;